out/
build/
log/
target/
.gradle
.gradletasknamecache

*.log
*.class
*.jar

*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

.idea/
*.iml
*.iws
*.eml
.vscode/
.classpath
.project
.settings/

hs_err_pid*
.DS_Store
